<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Eadesigndev_Urgent>
            <version>1.0.4</version>
        </Eadesigndev_Urgent>
    </modules>
    <global>
        <blocks>
            <urgent>
                <class>Eadesigndev_Urgent_Block</class>
            </urgent>
        </blocks>
        <models>
            <urgent>
                <class>Eadesigndev_Urgent_Model</class>
                <resourceModel>urgent_mysql4</resourceModel>
            </urgent>
            <urgent_mysql4>
                <class>Eadesigndev_Urgent_Model_Mysql4</class>
                <entities>
                    <urgent>
                        <table>directory_country_region_city</table>
                    </urgent>
                </entities>
            </urgent_mysql4>
        </models>
        <resources>
            <eadsign_urgent_setup>
                <setup>
                    <module>Eadesigndev_Urgent</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </eadsign_urgent_setup>
            <urgent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </urgent_write>
            <urgent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </urgent_read>
        </resources>
        <helpers>
            <urgent>
                <class>Eadesigndev_Urgent_Helper</class>
            </urgent>
        </helpers>
    </global>
    <default>
        <carriers>
            <urgentcurrier>
                <title>Urgent courier</title>
                <showmethod>1</showmethod>
                <active>1</active>
                <model>urgent/carrier_urgent</model>
            </urgentcurrier>
        </carriers>
    </default>
    <admin>
        <routers>
            <urgentadmin>
                <use>admin</use>
                <args>
                    <module>Eadesigndev_Urgent</module>
                    <frontName>urgentadmin</frontName>
                </args>
            </urgentadmin>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <eadesigndev_urgent>
                        <class>urgent/eacore_observer</class>
                        <method>preDispatch</method>
                    </eadesigndev_urgent>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config>